.message {

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {

}

.text {
    background-color: 0066CC;
}

.text:after {

}

.name {

}

.messageText {

}

.time {

}