.App {
    --header_height: 60px;
    max-width: 1280px;
    margin: 0 auto;
}
textarea {
    all: unset;
    box-sizing: border-box;
    display: block;
    width: 100%;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}

/* Убираем синюю обводку при клике в Chrome/Safari */
textarea:focus {
    outline: none;
    box-shadow: none;
}

.hw {

}

.hwTitle {

}