.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.friendImageAndText {
    gap: 10px;
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    max-width: 48px;
    max-height: 48px;
    object-fit: cover;
}

.friendText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
    max-width: max-content;
    min-height: 60px;
    border-radius: 8px 8px 8px 5px;
    background-color: #f5f7fb;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1),
    0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.friendText::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #f5f7fb transparent transparent;
}

.friendName {
    font-weight: bold;
    color: #000;
}

.friendMessageText {
    color: #000;
    font-weight: 400;
    font-size: 16px;
}

.friendTime {
    font-weight: bold;
    font-size: 10px;
    color: #000;
    padding-left: 10px;
}
